<main>
  <div style="text-align: center;">
    <img src="/LOGO.png" alt="Logo del laboratorio" width="20%">
  </div>
  <div class="login-formulario">
    <div>
      <label for="usuario">Usuario</label>
      <input type="text" id="usuario" required>
    </div>
    <div>
      <label for="contrasena">Contraseña</label>
      <input type="password" id="contrasena" required>
    </div>
    <div class="opciones">
      <button id="btn-login">Iniciar Sesión</button>
    </div>
  </div>
</main>