<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<header>
  <div class="header-top">
    <h1 class="titulo">Carrito de compras</h1>
  </div>
</header>

<body>
  {{{body}}}
</body>

<footer>
  <hr class="linea-footer-superior">
  <h4>Términos legales y condiciones</h4>
  <h4>Seguridad Informática</h4>
  <h4> Todos los derechos son reservados. Copyright 2025</h4>
  <hr class="linea-footer-inferior">
</footer>

</html>